<div class="card-shell" [class.card-shell-highlight]="plan.highlight">  @if (plan.badge) {
      <div class="border-light"></div>
    }

  <div class="price-card" [class.wf-price-card-highlight]="plan.highlight">
    
    @if (plan.badge) {
      <div class="badge">{{ plan.badge }}</div>
    }
      <div class="card-header">
        <div class="card-tag">{{ plan.tag }}</div>
        <div class="card-name">
          <span class="card-style">{{ plan.name }}</span>
          <span class="card-deco"></span>
        </div>
    </div>
    <ul class="feature-list">
      @for (feature of plan.features; track feature) {
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big" aria-hidden="true" style="width: 14px; height: 14px; color: rgb(212, 175, 55); flex-shrink: 0;"><path d="M21.801 10A10 10 0 1 1 17 3.335"></path><path d="m9 11 3 3L22 4"></path></svg>
        {{ feature }}
      </li>
      }
    </ul>

    <button class="wf-button wf-button-primary">
      {{ plan.buttonText }}
    </button>
  </div>
</div>